* {
    margin: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
}

.content {
    width: 800px;
    margin: 0 auto;
    padding: 10px 0;
}

.post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 3px solid rgb(15, 150, 173);
    margin-bottom: 10px;
}

.post:nth-child(1) {
    margin-top: 5px;
}

.post__content {
    font-size: 20px;
}

.post__title {
    font-weight: bold;
}

.item-enter {
    opacity: 0;
}

.item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.item-exit {
    opacity: 1;
}

.item-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.post-info {
    padding: 10px;
    border: 2px solid teal;
    font-size: 24px;
}

.post-info span {
    font-weight: bold;
}

.comments {
    border: 2px solid teal;
}

.comment {
    padding: 5px 10px;
    font-size: 24px;
}

.comment span {
    font-weight: bold;
}